<a href="https://colab.research.google.com/github/anicelysantos/tutoriais-dados-realpython/blob/main/lendo_arquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


*Estudos feitos a partir [desse tutorial](https://realpython.com/pandas-read-write-files/) do site Real Python.*

In [1]:
import pandas as pd
import numpy as np

# Criando uma base de dados

In [2]:
data = {'CHN': {'COUNTRY': 'China', 'POP': 1_398.72, 'AREA': 9_596.96,
            'GDP': 12_234.78, 'CONT': 'Asia'},
    'IND': {'COUNTRY': 'India', 'POP': 1_351.16, 'AREA': 3_287.26,
            'GDP': 2_575.67, 'CONT': 'Asia', 'IND_DAY': '1947-08-15'},
    'USA': {'COUNTRY': 'US', 'POP': 329.74, 'AREA': 9_833.52,
            'GDP': 19_485.39, 'CONT': 'N.America',
            'IND_DAY': '1776-07-04'},
    'IDN': {'COUNTRY': 'Indonesia', 'POP': 268.07, 'AREA': 1_910.93,
            'GDP': 1_015.54, 'CONT': 'Asia', 'IND_DAY': '1945-08-17'},
    'BRA': {'COUNTRY': 'Brazil', 'POP': 210.32, 'AREA': 8_515.77,
            'GDP': 2_055.51, 'CONT': 'S.America', 'IND_DAY': '1822-09-07'},
    'PAK': {'COUNTRY': 'Pakistan', 'POP': 205.71, 'AREA': 881.91,
            'GDP': 302.14, 'CONT': 'Asia', 'IND_DAY': '1947-08-14'},
    'NGA': {'COUNTRY': 'Nigeria', 'POP': 200.96, 'AREA': 923.77,
            'GDP': 375.77, 'CONT': 'Africa', 'IND_DAY': '1960-10-01'},
    'BGD': {'COUNTRY': 'Bangladesh', 'POP': 167.09, 'AREA': 147.57,
            'GDP': 245.63, 'CONT': 'Asia', 'IND_DAY': '1971-03-26'},
    'RUS': {'COUNTRY': 'Russia', 'POP': 146.79, 'AREA': 17_098.25,
            'GDP': 1_530.75, 'IND_DAY': '1992-06-12'},
    'MEX': {'COUNTRY': 'Mexico', 'POP': 126.58, 'AREA': 1_964.38,
            'GDP': 1_158.23, 'CONT': 'N.America', 'IND_DAY': '1810-09-16'},
    'JPN': {'COUNTRY': 'Japan', 'POP': 126.22, 'AREA': 377.97,
            'GDP': 4_872.42, 'CONT': 'Asia'},
    'DEU': {'COUNTRY': 'Germany', 'POP': 83.02, 'AREA': 357.11,
            'GDP': 3_693.20, 'CONT': 'Europe'},
    'FRA': {'COUNTRY': 'France', 'POP': 67.02, 'AREA': 640.68,
            'GDP': 2_582.49, 'CONT': 'Europe', 'IND_DAY': '1789-07-14'},
    'GBR': {'COUNTRY': 'UK', 'POP': 66.44, 'AREA': 242.50,
            'GDP': 2_631.23, 'CONT': 'Europe'},
    'ITA': {'COUNTRY': 'Italy', 'POP': 60.36, 'AREA': 301.34,
            'GDP': 1_943.84, 'CONT': 'Europe'},
    'ARG': {'COUNTRY': 'Argentina', 'POP': 44.94, 'AREA': 2_780.40,
            'GDP': 637.49, 'CONT': 'S.America', 'IND_DAY': '1816-07-09'},
    'DZA': {'COUNTRY': 'Algeria', 'POP': 43.38, 'AREA': 2_381.74,
            'GDP': 167.56, 'CONT': 'Africa', 'IND_DAY': '1962-07-05'},
    'CAN': {'COUNTRY': 'Canada', 'POP': 37.59, 'AREA': 9_984.67,
            'GDP': 1_647.12, 'CONT': 'N.America', 'IND_DAY': '1867-07-01'},
    'AUS': {'COUNTRY': 'Australia', 'POP': 25.47, 'AREA': 7_692.02,
            'GDP': 1_408.68, 'CONT': 'Oceania'},
    'KAZ': {'COUNTRY': 'Kazakhstan', 'POP': 18.53, 'AREA': 2_724.90,
            'GDP': 159.41, 'CONT': 'Asia', 'IND_DAY': '1991-12-16'}}
columns = ('COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY')

In [ ]:
#O titulo da linha passa a ser coluna e o titulo da coluna passa a ser linha (vice versa)
df = pd.DataFrame(data=data).T
df

        COUNTRY      POP     AREA      GDP       CONT     IND_DAY
CHN       China  1398.72  9596.96  12234.8       Asia         NaN
IND       India  1351.16  3287.26  2575.67       Asia  1947-08-15
USA          US   329.74  9833.52  19485.4  N.America  1776-07-04
IDN   Indonesia   268.07  1910.93  1015.54       Asia  1945-08-17
BRA      Brazil   210.32  8515.77  2055.51  S.America  1822-09-07
PAK    Pakistan   205.71   881.91   302.14       Asia  1947-08-14
NGA     Nigeria   200.96   923.77   375.77     Africa  1960-10-01
BGD  Bangladesh   167.09   147.57   245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.2  1530.75        NaN  1992-06-12
MEX      Mexico   126.58  1964.38  1158.23  N.America  1810-09-16
JPN       Japan   126.22   377.97  4872.42       Asia         NaN
DEU     Germany    83.02   357.11   3693.2     Europe         NaN
FRA      France    67.02   640.68  2582.49     Europe  1789-07-14
GBR          UK    66.44    242.5  2631.23     Europe         NaN
ITA       Italy    60.36   301.34  1943.84     Europe         NaN
ARG   Argentina    44.94   2780.4   637.49  S.America  1816-07-09
DZA     Algeria    43.38  2381.74   167.56     Africa  1962-07-05
CAN      Canada    37.59  9984.67  1647.12  N.America  1867-07-01
AUS   Australia    25.47  7692.02  1408.68    Oceania         NaN
KAZ  Kazakhstan    18.53   2724.9   159.41       Asia  1991-12-16

In [ ]:
#index=columns garante que o indice seja mantido caso a versão do Python seja antiga
df = pd.DataFrame(data=data, index=columns).T
df

        COUNTRY      POP     AREA      GDP       CONT     IND_DAY
CHN       China  1398.72  9596.96  12234.8       Asia         NaN
IND       India  1351.16  3287.26  2575.67       Asia  1947-08-15
USA          US   329.74  9833.52  19485.4  N.America  1776-07-04
IDN   Indonesia   268.07  1910.93  1015.54       Asia  1945-08-17
BRA      Brazil   210.32  8515.77  2055.51  S.America  1822-09-07
PAK    Pakistan   205.71   881.91   302.14       Asia  1947-08-14
NGA     Nigeria   200.96   923.77   375.77     Africa  1960-10-01
BGD  Bangladesh   167.09   147.57   245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.2  1530.75        NaN  1992-06-12
MEX      Mexico   126.58  1964.38  1158.23  N.America  1810-09-16
JPN       Japan   126.22   377.97  4872.42       Asia         NaN
DEU     Germany    83.02   357.11   3693.2     Europe         NaN
FRA      France    67.02   640.68  2582.49     Europe  1789-07-14
GBR          UK    66.44    242.5  2631.23     Europe         NaN
ITA       Italy    60.36   301.34  1943.84     Europe         NaN
ARG   Argentina    44.94   2780.4   637.49  S.America  1816-07-09
DZA     Algeria    43.38  2381.74   167.56     Africa  1962-07-05
CAN      Canada    37.59  9984.67  1647.12  N.America  1867-07-01
AUS   Australia    25.47  7692.02  1408.68    Oceania         NaN
KAZ  Kazakhstan    18.53   2724.9   159.41       Asia  1991-12-16

# Usando o Pandas `read_csv` e `to_csv`

In [ ]:
df.to_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv')

In [ ]:
#index_col é usado para dizer qual linha será o nome das colunas
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0)
df

        COUNTRY      POP      AREA       GDP       CONT     IND_DAY
CHN       China  1398.72   9596.96  12234.78       Asia         NaN
IND       India  1351.16   3287.26   2575.67       Asia  1947-08-15
USA          US   329.74   9833.52  19485.39  N.America  1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia  1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia  1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa  1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.25   1530.75        NaN  1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia         NaN
DEU     Germany    83.02    357.11   3693.20     Europe         NaN
FRA      France    67.02    640.68   2582.49     Europe  1789-07-14
GBR          UK    66.44    242.50   2631.23     Europe         NaN
ITA       Italy    60.36    301.34   1943.84     Europe         NaN
ARG   Argentina    44.94   2780.40    637.49  S.America  1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa  1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America  1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania         NaN
KAZ  Kazakhstan    18.53   2724.90    159.41       Asia  1991-12-16

# Usando o Pandas para escrever e ler arquivos do excel

In [ ]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.1)

In [ ]:
import xlwt
import openpyxl
import xlsxwriter
import xlrd

**Salvar um arquivo no formato do excel**

In [ ]:
df.to_excel('/content/drive/MyDrive/dados_pandas/Real Python/paises.xlsx')

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/dados_pandas/Real Python/paises.xlsx', index_col=0)
df

In [7]:
#especifica o nome da aba na planilha de destino
df = pd.DataFrame(data=data).T
df.to_excel('/content/drive/MyDrive/dados_pandas/Real Python/data.xlsx', sheet_name='COUNTRIES')

In [8]:
#startrow e startcol indica a partir de qual linha e coluna deve colocar os dados (a contagem começa com 0)
df.to_excel('/content/drive/MyDrive/dados_pandas/Real Python/data-shifted.xlsx', sheet_name='COUNTRIES', startrow=2, startcol=4)

Valores do parâmentro `sheet_name` para o `read_excel()`:


*   **Índice baseado em zero** da planilha
*   **O nome** da planilha
*   **A lista** de índices ou nomes para ler várias folhas
*   **O valor `none`** para ler todas as folhas

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/dados_pandas/Real Python/data.xlsx', sheet_name=0, index_col=0, parse_dates=['IND_DAY'])

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/dados_pandas/Real Python/data.xlsx', sheet_name='COUNTRIES', index_col=0, parse_dates=['IND_DAY'])

#Trabalhando com diferentes tipos de arquivos

**Arquivos CSV**

In [ ]:
df.loc['RUS','CONT']

In [ ]:
df.to_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises_novo.csv', na_rep='(missing)')

In [ ]:
pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises_novo.csv', index_col=0, na_values='(missing)')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises_novo.csv', index_col=0)
df.dtypes

COUNTRY     object
POP        float64
AREA       float64
GDP        float64
CONT        object
IND_DAY     object
dtype: object

In [ ]:
#parse_dates força o usu do tipo datetimes em uma coluna
dtypes = {'POP': 'float32', 'AREA':'float32','GDP':'float32'}
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0, dtype=dtypes, parse_dates=['IND_DAY'])
df.dtypes

In [ ]:
df['IND_DAY']

In [ ]:
#Esse formato de data exibe primeiro o nome completo do mês, depois o dia seguido por virguna e ano completo
df.to_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises_dt.csv', date_format='%B %d, %Y')

Argumentos que podems ser passados:


*   **sep**: Especifica qual separador vai usar nos dados
*   **decimal**: Indica um separador decimal
*  **encoding**: Deifine qual a codificação do arquivo
*   **header**: especifica se deseja salvar o arquivo com o rótulo das colunas

In [ ]:
s = df.to_csv(sep=';', header=False)
print(s)

# Arquivos JSON

In [ ]:
df = pd.DataFrame(data=data).T
df.to_json('/content/drive/MyDrive/dados_pandas/Real Python/data-columns.json')

In [ ]:
df.to_json('/content/drive/MyDrive/dados_pandas/Real Python/data-index.json', orient = 'index')

In [ ]:
#não grava o rótulo das linhas
df.to_json('/content/drive/MyDrive/dados_pandas/Real Python/data-records.json', orient = 'records')

In [ ]:
df.to_json('/content/drive/MyDrive/dados_pandas/Real Python/data-split.json', orient = 'split')

In [ ]:
df = pd.DataFrame(data=data).T
df['IND_DAY'] = pd.to_datetime(df['IND_DAY'])
df.dtypes

COUNTRY            object
POP                object
AREA               object
GDP                object
CONT               object
IND_DAY    datetime64[ns]
dtype: object

In [ ]:
df.to_json('/content/drive/MyDrive/dados_pandas/Real Python/date-time.json')

In [ ]:
df = pd.DataFrame(data=data).T
df['IND_DAY'] = pd.to_datetime(df['IND_DAY'])
df.to_json('/content/drive/MyDrive/dados_pandas/Real Python/new-data-time.json', date_format='iso', date_unit='s')

In [ ]:
df = pd.read_json('/content/drive/MyDrive/dados_pandas/Real Python/data-index.json', orient='index', convert_dates=['IND_DAY'])
df

Outros parâmentos:


*   `encoding`: Define a codificação
*   `convert_dates` e `default_dates`: manipula datas
*   `dtype` e `precise_float`: mostra os tipos de dados e tras um float mais preciso
*   `numpy=True`: Decodifica ps dados numéricos (especifico de matrizes Numpy)

# Arquivos HTML

In [3]:
!pip install lxml html5lib

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)

In [4]:
df = pd.DataFrame(data=data).T
df.to_html('/content/drive/MyDrive/dados_pandas/Real Python/data.html')

Alguns parâmetros:


*   **`header`**: determina se  o rótulo das colunas será salvo ou não;
*   **`index`**: determina se  o rótulo das linhas será salvo ou não;
*   **`classes`**: atribui CSS
*   **`render_links`**: especifica se deseja converer URLs em links HTML;
*   **`table_id`**: atribui o CSS `id`a tag `table`;
*   **`escape`**: decide se converte os caracteres `<`, `>` e `&` em cadeisas HTML seguras.

In [ ]:
df = pd.read_html('/content/drive/MyDrive/dados_pandas/Real Python/data.html', index_col=0, parse_dates=['IND_DAY'])

# Arquivos SQL

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('sqlite:///data.db', echo=False)

In [16]:
dtypes = {'POP':'float64','AREA':'float64','GDP':'float64','IND_DAY':'datetime64'}
df = pd.DataFrame(data=data).T.astype(dtype=dtypes)
df.dtypes

COUNTRY            object
POP               float64
AREA              float64
GDP               float64
CONT               object
IND_DAY    datetime64[ns]
dtype: object

In [17]:
df.to_sql('/content/drive/MyDrive/dados_pandas/Real Python/data.db', con=engine, index_label='ID')

Argumentos para usar com o `if_exits`:


*   **`fail`**: gera um `ValueError`, é o padrão
*   **`replace`**: descarta a tabela e insere novos valores
*   **`append`**: Insere novos valores na tabela

In [18]:
#não precisa passar parse_dates pq o banco de dados já detecta automaticamente
df = pd.read_sql('/content/drive/MyDrive/dados_pandas/Real Python/data.db', con=engine, index_col='ID')
df

        COUNTRY      POP      AREA       GDP       CONT    IND_DAY
ID
CHN       China  1398.72   9596.96  12234.78       Asia        NaT
IND       India  1351.16   3287.26   2575.67       Asia 1947-08-15
USA          US   329.74   9833.52  19485.39  N.America 1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia 1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America 1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia 1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa 1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia 1971-03-26
RUS      Russia   146.79  17098.25   1530.75       None 1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America 1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia        NaT
DEU     Germany    83.02    357.11   3693.20     Europe        NaT
FRA      France    67.02    640.68   2582.49     Europe 1789-07-14
GBR          UK    66.44    242.50   2631.23     Europe        NaT
ITA       Italy    60.36    301.34   1943.84     Europe        NaT
ARG   Argentina    44.94   2780.40    637.49  S.America 1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa 1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America 1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania        NaT
KAZ  Kazakhstan    18.53   2724.90    159.41       Asia 1991-12-16

In [19]:
#corrige a linha a mais que coloca por conta do título das linhas
df.index.name= None

        COUNTRY      POP      AREA       GDP       CONT    IND_DAY
CHN       China  1398.72   9596.96  12234.78       Asia        NaT
IND       India  1351.16   3287.26   2575.67       Asia 1947-08-15
USA          US   329.74   9833.52  19485.39  N.America 1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia 1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America 1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia 1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa 1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia 1971-03-26
RUS      Russia   146.79  17098.25   1530.75       None 1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America 1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia        NaT
DEU     Germany    83.02    357.11   3693.20     Europe        NaT
FRA      France    67.02    640.68   2582.49     Europe 1789-07-14
GBR          UK    66.44    242.50   2631.23     Europe        NaT
ITA       Italy    60.36    301.34   1943.84     Europe        NaT
ARG   Argentina    44.94   2780.40    637.49  S.America 1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa 1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America 1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania        NaT
KAZ  Kazakhstan    18.53   2724.90    159.41       Asia 1991-12-16

In [ ]:
#substitue todos valores ausentes pelo valor passado em value
df.fillna(value=float('nan'), inplace=True)
df

# Pickle Files

In [22]:
dtypes = {'POP':'float64','AREA':'float64','GDP':'float64','IND_DAY':'datetime64'}
df = pd.DataFrame(data=data).T.astype(dtype=dtypes)
df.to_pickle('/content/drive/MyDrive/dados_pandas/Real Python/data.pickle')

In [ ]:
df = pd.read_pickle('/content/drive/MyDrive/dados_pandas/Real Python/data.pickle')
df

In [24]:
df.dtypes

COUNTRY            object
POP               float64
AREA              float64
GDP               float64
CONT               object
IND_DAY    datetime64[ns]
dtype: object

# Trabalho com Big Data

Dicas para trabalhar com grandes bases de dados e reduzir o espaço em disco necessário:



*   **Compacte** seus arquivos
*   **Escolha** apenas as colunas que você deseja
*   **Omita** as linhas que você não precisa
*   **Forçar** o uso de tipos de dados menos precisos
*   **Divida** os dados em blocos

**Compactar e descompactar arquivos**

In [25]:
df = pd.DataFrame(data=data).T
df.to_csv('/content/drive/MyDrive/dados_pandas/Real Python/data.csv.zip')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/data.csv.zip', index_col=0, parse_dates=['IND_DAY'])
df

In [30]:
df = pd.DataFrame(data=data).T
df.to_pickle('/content/drive/MyDrive/dados_pandas/Real Python/data.pickle.compress', compression='gzip')

In [ ]:
df = pd.read_pickle('/content/drive/MyDrive/dados_pandas/Real Python/data.pickle.compress', compression='gzip')

**Escolha as colunas**

In [ ]:
#usecols escolhe as colunas que o dataframe trará
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', usecols=['COUNTRY','AREA'])
df

In [ ]:
#Caso queira passar apenas os índices ao invés do nome das colunas
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0, usecols=[0,1,3])
df

In [ ]:
df = pd.read_sql('/content/drive/MyDrive/dados_pandas/Real Python/data.db', con=engine, index_col = 'ID', columns=['COUNTRY','AREA'])
df

**Omitir linhas**

Alguns parâmetros para selecionar só linhas:


*   **`skiprows`**: o número de linhas a pular no início do arquivo, se for um inteiro, ou os índices baseados em zero das linhas a pular, se for um objeto em forma de lista;
*   **`skipfooter`**: o número de linhas a pular no final do arquivo;
*   **`nrows`**: o número de linhas para ler.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0, skiprows=range(1,20,2))
df

**Forçar tipos de dados menos precisos**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0, parse_dates=['IND_DAY'])
df.dtypes

In [ ]:
df.memory_usage()

In [41]:
df.loc[:, ['POP','AREA','GDP']].memory_usage(index=False).sum()

480

In [42]:
df.loc[:, ['POP','AREA','GDP']].to_numpy().nbytes

480

In [43]:
dtypes = {'POP':'float32','AREA':'float32','GDP':'float32'}
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0, dtype=dtypes, parse_dates=['IND_DAY'])

In [44]:
df.dtypes

COUNTRY            object
POP               float32
AREA              float32
GDP               float32
CONT               object
IND_DAY    datetime64[ns]
dtype: object

In [45]:
df.memory_usage()

Index      800
COUNTRY    160
POP         80
AREA        80
GDP         80
CONT       160
IND_DAY    160
dtype: int64

In [46]:
df.loc[:, ['POP','AREA','GDP']].memory_usage(index=False).sum()

240

In [47]:
df.loc[:, ['POP','AREA','GDP']].to_numpy().nbytes

240

**Use pedaços para iterar arquivos**

In [48]:
data_chunk = pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0, chunksize=8)
type(data_chunk)

pandas.io.parsers.TextFileReader

In [49]:
hasattr(data_chunk,'__iter__')

True

In [50]:
hasattr(data_chunk,'__next__')

True

In [52]:
for df_chunk in pd.read_csv('/content/drive/MyDrive/dados_pandas/Real Python/paises.csv', index_col=0, chunksize=8):
  print(df_chunk, end='\n\n')
  print('memory: ', df_chunk.memory_usage().sum(), 'bytes', end='\n\n\n')

        COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN       China  1398.72  9596.96  12234.78       Asia         NaN
IND       India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA          US   329.74  9833.52  19485.39  N.America  1776-07-04
IDN   Indonesia   268.07  1910.93   1015.54       Asia  1945-08-17
BRA      Brazil   210.32  8515.77   2055.51  S.America  1822-09-07
PAK    Pakistan   205.71   881.91    302.14       Asia  1947-08-14
NGA     Nigeria   200.96   923.77    375.77     Africa  1960-10-01
BGD  Bangladesh   167.09   147.57    245.63       Asia  1971-03-26

memory:  448 bytes


       COUNTRY     POP      AREA      GDP       CONT     IND_DAY
RUS     Russia  146.79  17098.25  1530.75        NaN  1992-06-12
MEX     Mexico  126.58   1964.38  1158.23  N.America  1810-09-16
JPN      Japan  126.22    377.97  4872.42       Asia         NaN
DEU    Germany   83.02    357.11  3693.20     Europe         NaN
FRA     France   67.02    640.68  2582.49     Europe  1789-07-14
GBR         UK   66.44    242.50  2631.23     Europe         NaN
ITA      Italy   60.36    301.34  1943.84     Europe         NaN
ARG  Argentina   44.94   2780.40   637.49  S.America  1816-07-09

memory:  448 bytes


        COUNTRY    POP     AREA      GDP       CONT     IND_DAY
DZA     Algeria  43.38  2381.74   167.56     Africa  1962-07-05
CAN      Canada  37.59  9984.67  1647.12  N.America  1867-07-01
AUS   Australia  25.47  7692.02  1408.68    Oceania         NaN
KAZ  Kazakhstan  18.53  2724.90   159.41       Asia  1991-12-16

memory:  224 bytes